*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    color: white;
    padding: 15px;
}
nav:hover{
    background-color: ;
}

li,h1,ul{
    display: inline;
}

ul{
    margin-left: 60%;
}
li{
    color: grey;
    cursor: pointer;
}
li:hover{
    color: white;
}
input{
    width: 60%;
    padding: 15px ;
}
.searchbar{
    padding: 50px;
    text-align: center;
}
.Home::after{
    margin-top: 24px;
    margin-left: 70%;
    content: '';
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    width: ;
    left: 0;

    transition: 0.3s;
    


}
.Home:hover::after{
    width: 60px;
}